<h1 class="title">Atmecs Career site</h1>

<div id="login">
   <h3 class="text-center text-white pt-5">Login form</h3>
   <div class="container">
       <div id="login-row" class="row justify-content-center align-items-center">
           <div id="login-column" class="col-md-6">
               <div id="login-box" class="col-md-12">
                <form [formGroup]="LoginForm" (ngSubmit)="onFormSubmit()"> 
                    <div class="form-group">
                       <label>User Name</label>
                       <input type="text" class="form-control" id="user_name" formControlName="user_name" name="user_name" placeholder="User Name"  required minlength="4">
                       <div *ngIf="LoginForm.controls['user_name'].errors?.['required']">
                        Name is required.
                      </div>
                      <div *ngIf="LoginForm.controls['user_name'].errors?.['minlength']">
                        Name must be at least 4 characters long.
                      </div>                   </div>
                    <div class="form-group">
                       <label>Password</label>
                       <input type="password" class="form-control"  id="user_password" formControlName="user_password" name="user_password" pattern="(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]" placeholder="Password">
                      
                     <div *ngIf="submitted">
                       <div *ngIf="f['user_password'].errors['minlength']">Password is minlength should be 8</div>
                         <div *ngIf="f['user_password'].errors['required']">Password is required</div>
                         <div *ngIf="f['user_password'].errors?.['pattern']">Password must have a one special character and one number </div>
                         
                      </div>
                   </div>
                   
                    <button type="submit" class="button">Login</button>
                 </form>
              
               </div>
           </div>
       </div>
   </div>
</div>