<div class="content">
    <div>
        <h2>
            Welcome {{sessionStorage.getItem('username')}}
        </h2>

        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut erat ac risus aliquam faucibus non eu eros.
            Aliquam a vulputate tortor, ac venenatis est. Vestibulum ipsum neque, maximus ac tortor quis, mattis aliquet
            diam. Phasellus faucibus porttitor aliquet. Praesent vitae odio et lacus lobortis aliquet. Ut nec mi et sem
            bibendum consequat id ut purus. Nunc at augue sem. Nam faucibus imperdiet nulla eu malesuada. Etiam
            venenatis tellus massa, nec eleifend arcu lobortis sed. Morbi commodo mollis metus, vitae finibus eros
            tincidunt eget. Vestibulum vel faucibus justo, id sagittis odio. Sed congue interdum nunc, et pellentesque
            neque luctus nec. Etiam mollis ultricies justo, id posuere turpis porta interdum. Etiam sapien ligula,
            mattis quis lorem id, venenatis vestibulum odio.

            Nulla sodales orci massa, vehicula ultricies ligula aliquet nec. Curabitur augue turpis, commodo nec ex sed,
            bibendum maximus felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas maximus
            commodo pharetra. Fusce ultrices justo nec varius sagittis. Maecenas elit diam, molestie et massa nec,
            tincidunt vestibulum sem. Cras ut venenatis tellus. Nunc pharetra odio nec metus varius aliquam. Morbi
            tincidunt orci ac ex rhoncus egestas. Nunc ultrices elit feugiat nulla posuere, vel varius diam suscipit.
            Praesent condimentum condimentum euismod.</p>
    </div>



    <a type="submit" routerLink="/employee" class="button start">Register Yourself </a>